[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!/[Aa]ssets/**/*.meta
!/[Pp]rojectSettings/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# [Aa]ssets/AssetStoreTools*

# Firebase & SDKs (if any)
*.apk
*.aab
*.jar
*.keystore
*.p12

# User-specific
UserSettings/
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
.idea/
